In [23]:
from sklearn import datasets
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn import model_selection
import warnings
warnings.filterwarnings("ignore")

In [24]:
train_data = pd.read_csv('train.csv')
test_data = pd.read_csv('test.csv')
train_data.describe()

           Pclass         Age       SibSp       Parch        Fare    Survived
count  668.000000  536.000000  668.000000  668.000000  668.000000  668.000000
mean     2.296407   29.700560    0.528443    0.407186   32.064552    0.402695
std      0.831638   14.240257    1.080327    0.854695   45.320835    0.490808
min      1.000000    0.670000    0.000000    0.000000    0.000000    0.000000
25%      2.000000   21.000000    0.000000    0.000000    7.925000    0.000000
50%      3.000000   29.000000    0.000000    0.000000   14.750000    0.000000
75%      3.000000   38.250000    1.000000    0.000000   31.275000    1.000000
max      3.000000   80.000000    8.000000    6.000000  512.329200    1.000000

In [25]:
ag1  = train_data[train_data['Pclass'] == 1]['Age'].mean()
ag2  = train_data[train_data['Pclass'] == 2]['Age'].mean()
ag3  = train_data[train_data['Pclass'] == 3]['Age'].mean()

In [26]:
def get_age_filled(x):
    age = x[0]
    p_class = x[1]
    
    if pd.isnull(age):
        if p_class == 1:
            return ag1
        if p_class ==2:
            return ag2
        if p_class ==3:
            return ag3
        
    return age

In [27]:
#Filling NAN age values with the average age of the passenger class
train_data['Age'] = train_data[['Age','Pclass']].apply(get_age_filled,axis=1)

In [28]:
#Creating Dummy Columns for Sex, Embarked and Pclass
train_data = pd.concat([train_data, pd.get_dummies(train_data["Sex"])], axis=1)
train_data = pd.concat([train_data, pd.get_dummies(train_data["Embarked"])], axis=1)
train_data = pd.concat([train_data, pd.get_dummies(train_data["Pclass"])], axis=1)

In [29]:
#train_data['Age*Age'] = train_data['Age']*train_data['Age']

In [30]:
#Dropping Unncessary Columns
train_data.drop(["Pclass", "Name", "Sex", "Ticket", "Cabin", "Embarked"],axis=1,inplace=True)

In [31]:
y = train_data['Survived']
x = train_data.drop(['Survived'], axis = 1)

In [32]:
#x_train, x_test, y_train, y_test = model_selection.train_test_split(x,y)

In [33]:
alg1 = LogisticRegression(tol=0.00001, C=1, max_iter=150)
#alg1.fit(x_train,y_train)
alg1.fit(x, y)

LogisticRegression(C=1, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=150,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=1e-05, verbose=0,
                   warm_start=False)

In [34]:
#alg1.predict_proba(x_test)[0]

In [35]:
#alg1.score(x_test, y_test)
#alg1.predict(x_test) - y_test

## Testing

In [36]:
test_data.describe()

           Pclass         Age       SibSp       Parch        Fare
count  223.000000  178.000000  223.000000  223.000000  223.000000
mean     2.345291   29.694775    0.506726    0.304933   32.622551
std      0.850047   15.398053    1.169700    0.634108   61.062047
min      1.000000    0.420000    0.000000    0.000000    0.000000
25%      2.000000   19.250000    0.000000    0.000000    7.879200
50%      3.000000   27.000000    0.000000    0.000000   12.475000
75%      3.000000   37.750000    1.000000    0.000000   30.035400
max      3.000000   71.000000    8.000000    2.000000  512.329200

In [37]:
ag1_test  = test_data[test_data['Pclass'] == 1]['Age'].mean()
ag2_test  = test_data[test_data['Pclass'] == 2]['Age'].mean()
ag3_test  = test_data[test_data['Pclass'] == 3]['Age'].mean()

In [38]:
def get_age_filled_test(x):
    age = x[0]
    p_class = x[1]
    
    if pd.isnull(age):
        if p_class == 1:
            return ag1_test
        if p_class ==2:
            return ag2_test
        if p_class ==3:
            return ag3_test
        
    return age

In [39]:
#Filling NAN age values with the average age of the passenger class
test_data['Age'] = test_data[['Age','Pclass']].apply(get_age_filled_test,axis=1)

In [40]:
#Creating Dummy Columns for Sex, Embarked and Pclass
test_data = pd.concat([test_data, pd.get_dummies(test_data["Sex"])], axis=1)
test_data = pd.concat([test_data, pd.get_dummies(test_data["Embarked"])], axis=1)
test_data = pd.concat([test_data, pd.get_dummies(test_data["Pclass"])], axis=1)

In [41]:
#Dropping Unncessary Columns
test_data.drop(["Pclass", "Name", "Sex", "Ticket", "Cabin", "Embarked"],axis=1,inplace=True)

In [42]:
ans = alg1.predict(test_data)

In [43]:
np.savetxt("predictions.csv", ans, delimiter=",")